html {
    overflow-y: scroll;
    margin-bottom: 2.5em
}
select {
    cursor: pointer
}
.button, button {
    font-size: 16px;
    padding:0px;
}
.highlight {
    background-color: #ff0
}
.loader{
    background-image: url('img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 50px;
    min-width: 75px;
}
.bold-name,
.project-header {
    font-size: 20px;
    font-weight: 700
}
.small-text {
    font-size: .75em
}
.button-error {
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background: #ca3c3c
}
.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate
}
@keyframes blinker {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
.project-header, .software-header {
    font-size: 1.5em;
}
.project-header, .software-container{
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 5px;
    background-color: #fff;
}
.message,
textarea {
    margin: 0;
    padding: 0
}
.project-header:hover, .software-container:hover {
    background-color: #d3d3d3;
    transition: background-color .5s ease
}
.message {
    position: fixed;
    bottom: 0;
    background-color: #FFF;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #f16128;
    transition: opacity .5s ease;
    opacity: 0;
    border-top: 3px solid #333
}
.message.shown {
    opacity: 1
}
textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px
}
.loading{
    background: url('img/loading.gif') no-repeat center center;
    background-size: 50px 50px;
    min-width: 50px;
    min-height: 50px;
}

.offset {
    margin-left: 30px
}