<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internal Project Manager</title>
    <link rel="stylesheet" href="css/libs/normalize.css">
    <link rel="stylesheet" href="css/libs/skeleton.css">
    <link rel="stylesheet" href="css/libs/sweetalert.css">
    <link rel="stylesheet" href="css/libs/angular-chart.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/linq.js"></script>
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/ng-currency.js"></script>
    <script src="js/libs/chart.js"></script>
    <script src="js/libs/angular-chart.js"></script>
    <script src="js/libs/sweetalert.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div ng-controller="AppController as appCtrl" class="container" style="border-radius: 5px; padding: 20px; background-color: #f6f6f6"
        ng-init="appCtrl.Initialize()">
        <div class="row" style="text-align:center">
            <div class="three columns">
                <button class="u-full-width button-primary" ng-if="appCtrl.view == 'list'" ng-click="appCtrl.addProject()">Add Project</button>
                <button class="u-full-width button-primary" ng-if="appCtrl.view != 'list'" ng-click="appCtrl.setView('list')">Projects</button>
            </div>
            <div class="three columns">
                <button class="u-full-width button-primary" ng-click="appCtrl.setView('charts'); appCtrl.getChartData()">Charts</button>
            </div>
            <div class="three columns">
                <button class="u-full-width button-primary" ng-if="appCtrl.view != 'softwares'" ng-click="appCtrl.setView('softwares')">Software</button>
                <button class="u-full-width button-primary" ng-if="appCtrl.view == 'softwares'" ng-click="appCtrl.addNewSoftware()">Add Software</button>
            </div>
            <div class="three columns">
                <button class="u-full-width button-primary" ng-click="appCtrl.writeData()">Save Changes</button>
            </div>
        </div>

        <div class="row" ng-if="appCtrl.view == 'list'">
            <div class="twelve columns u-text-center">
                <div style="font-size:25px; font-weight: bold">Search Projects</div>
                <input class="u-half-width" type="text" ng-model="appCtrl.projectSearchText">
            </div>
        </div>
        <div class="row" ng-if="appCtrl.view == 'list'" ng-class="{loading: !appCtrl.phaseList}">
            <div class="four columns" ng-repeat="phase in appCtrl.phaseList">
                <div style="font-size:25px; font-weight: bold" ng-class="{loading: !appCtrl.projectList}">{{phase}}</div>
                <div ng-repeat="project in appCtrl.projectList | phaseFilter:phase | searchFilter:appCtrl.categoryList:appCtrl.projectSearchText track by $index"
                    ng-click="appCtrl.setCurrentProject(project)" class="project-header">
                    {{project.name}}
                    </br>
                    <div ng-repeat="searchResult in project.searchResults" class="small-text" ng-if="project.searchResults.length > 0">
                        {{searchResult.firstFilterResult}}<span class="highlight">{{searchResult.highlightedFilterResult}}</span>{{searchResult.lastFilterResult}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="appCtrl.view == 'softwares'">
            <div class="twelve columns u-text-center">
                <div style="font-size:25px; font-weight:bold">Search Software</div>
                <input class="u-half-width" type="text" ng-model="appCtrl.softwareSearchText" />
            </div>
            <div class="u-full-width" style="clear:both" ng-class="{loading: !appCtrl.softwareList}">&nbsp;</div>
            <div class="ten columns">
                <div class="software-container" ng-repeat="software in appCtrl.softwareList | softwareSearchFilter:appCtrl.softwareSearchText track by $index"
                    ng-click="appCtrl.setCurrentSoftware(software)">
                    <div class="software-header">{{software.Software}} - {{software.Company}}</div>
                    <div ng-repeat="searchResult in software.searchResults" class="small-text">
                        {{searchResult.firstFilterResult}}<span class="highlight">{{searchResult.highlightedFilterResult}}</span>{{searchResult.lastFilterResult}}
                    </div>
                    <div class="license-count" ng-if="software.licenses.length != 1">{{software.licenses.length}} licenses</div>
                    <div class="license-count" ng-if="software.licenses.length == 1">{{software.licenses.length}} license</div>
                    <div class="license-count" ng-if="software.LicenseCanExpire">{{appCtrl.nextExpiringLicense(software).Message}} {{appCtrl.nextExpiringLicense(software).ExpirationDate
                        | date:'MM/dd/yyyy'}} for {{appCtrl.nextExpiringLicense(software).User}}</div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="appCtrl.view =='software'">
            <div class="twelve columns">
                <div class="u-full-width" style="font-size: 1.5em; font-weight: bold; text-align: center;">Editing "{{appCtrl.currentSoftware.Software}}"</div>
                <div class="u-full-width bold-name">Software</div>
                <div class="u-full-width">
                    <input style="width: 100%" ng-model="appCtrl.currentSoftware.Software" type="text">
                </div>

                <div class="u-full-width bold-name">Company</div>
                <div class="u-full-width">
                    <input style="width: 100%" ng-model="appCtrl.currentSoftware.Company" type="text">
                </div>

                <div class="u-full-width bold-name">
                    Website
                    <a style="display: inline-block; float: none; margin-top: .5em; margin-left: 1em;" ng-href="{{appCtrl.currentSoftware.Website}}"
                        target="_blank">View</a>
                </div>
                <div class="u-full-width">
                    <input style="width: 100%" ng-model="appCtrl.currentSoftware.Website" type="text">
                </div>

                <div class="twelve columns bold-name">Price ($)</div>
                <div class="u-full-width">
                    <input style="width: 100%" ng-model="appCtrl.currentSoftware.Price" type="text" ng-currency min="0">
                </div>

                <div class="u-full-width bold-name">License Model</div>
                <div class="u-full-width">
                    <input style="width: 100%" ng-model="appCtrl.currentSoftware.LicenseModel" type="text">
                </div>

                <div class="u-full-width bold-name">
                    Does license expire?
                    <input ng-model="appCtrl.currentSoftware.LicenseCanExpire" type="checkbox">
                </div>

                <div class="u-full-width bold-name">Licenses</div>
                <div class="license-container" ng-repeat="license in appCtrl.currentSoftware.licenses">
                    <div class="u-full-width">Assigned User</div>
                    <div class="u-full-width">
                        <select style="width: 100%" ng-model="license.User" ng-options="option for option in appCtrl.resourceNames()" type="text"></select>
                    </div>
                    <div class="u-full-width"></div>
                    <div class="u-full-width" ng-if="appCtrl.currentSoftware.LicenseCanExpire">
                        Expiration Date: <input type="date" ng-model="license.ExpirationDate">
                    </div>
                </div>

                <input type="button" class="button" ng-click="appCtrl.addSoftwareLicense(software)" value="Add License">
            </div>
        </div>

        <div class="row" ng-if="appCtrl.view == 'project'">
            <div class="twelve columns">
                <div class="u-full-width" style="text-align:center; padding:20px;">
                    <div style="font-size:25px; font-weight: bold">Editing "{{appCtrl.currentProject.name}}"</div>
                </div>

                <div class="u-full-width bold-name">Application Name</div>
                <div class="u-full-width">
                    <input style="width:100%" ng-model="appCtrl.currentProject.name" type="text">
                </div>

                <div class="u-full-width bold-name">Project Status</div>
                <div class="u-full-width">
                    <select style="width:100%" ng-model="appCtrl.currentProject.status" ng-options="option for option in appCtrl.statusList"
                        type="text"></select>
                </div>

                <div class="u-full-width bold-name">Project Phase</div>
                <div class="u-full-width">
                    <select style="width:100%" ng-model="appCtrl.currentProject.phase" ng-options="option for option in appCtrl.phaseList" type="text"></select>
                </div>

                <div class="u-full-width bold-name">Resources</div>
                <div class="u-full-width">
                    <!-- appCtrl.currentProject.resources -->
                    <select class="u-three-quarters-width" ng-init="localName = 'Unknown User'" ng-model="localName" ng-options="option for option in appCtrl.resourceNames()"
                        type="text"></select>
                    <button class="button-primary u-quarter-width" ng-click="appCtrl.addResource(localName)">Add Resource</button>
                    <div class="offset" ng-repeat="resource in appCtrl.currentProject.resources">
                        <div class="bold-name"> {{resource.name}} </div>
                        <div class="offset"> Percent: <input type="number" ng-model="resource.percent" max="100" min="0" /> </div>
                    </div>
                </div>

                <div class="u-full-width bold-name">PDP Gate</div>
                <div class="u-full-width">
                    <select style="width:100%" ng-model="appCtrl.currentProject.gate" ng-options="option for option in appCtrl.gateList" type="text"></select>
                </div>

                <div class="u-full-width bold-name">Owner </div>
                <div class="u-full-width">
                    <select style="width:100%" ng-model="appCtrl.currentProject.owner" ng-options="option for option in appCtrl.ownerList" type="text"></select>
                </div>

                <div class="u-full-width bold-name">Maintenance</div>
                <div class="u-full-width">
                    <select style="width:100%" ng-model="appCtrl.currentProject.maintenance" ng-options="option for option in appCtrl.maintenanceList"
                        type="text"></select>
                </div>

                <div class="u-full-width bold-name">Objective</div>
                <div class="u-full-width">
                    <textarea ng-model="appCtrl.currentProject.Objective"></textarea>
                </div>

                <div class="u-full-width bold-name">Business Requirements</div>
                <div class="u-full-width">
                    <textarea ng-model="appCtrl.currentProject.BusinessRequirements"></textarea>
                </div>

                <div class="u-full-width bold-name">Add File</div>
                <div class="u-full-width">
                    <input type="file" id="file" />
                    <input type="button" value="Upload" ng-click="appCtrl.uploadFile()" />
                </div>

                <div ng-if="appCtrl.currentProject.files.length > 0" class="u-full-width bold-name">Files</div>
                <div ng-repeat="file in appCtrl.currentProject.files track by $index">
                    <a ng-href="{{'http://cgacedev1/ProjectManagerFiles/' + file.key}}" download="{{file.name}}">{{file.name}}</a>
                </div>

                <div class="u-full-width bold-name">Software</div>
                <label ng-repeat="software in appCtrl.softwareNames()">
                    <input type="checkbox"
                           value="{{software}}"
                           ng-checked="appCtrl.currentProject.software.indexOf(software) >= 0"
                           ng-click="appCtrl.addSoftware(software)"
                    >{{software}} <a style="cursor: pointer" ng-click="appCtrl.viewSoftwareByName(software)">View</a>
                </label>
            </div>
        </div>

        <div class="row" ng-if="appCtrl.view == 'charts'">
            <div class="two columns"> &nbsp; </div>
            <div class="eight columns">
                <canvas id="pie" class="chart chart-pie" data="appCtrl.data" labels="appCtrl.phaseList" legend="true"></canvas>
            </div>
            <div class="two columns"> &nbsp; </div>
        </div>
        <div class="row message" ng-if="appCtrl.message.length > 0" ng-class="{ 'shown': appCtrl.showMessage }">
            {{appCtrl.message}}
        </div>
    </div>
</body>

</html>